 

ion-button[color="dark"]{
    text-transform: initial;
}
.image-container {
    background-image: url('/src/app/assets/1.png');
    background-size: cover;
    background-position: center;
  }
  
  